/* Базові стилі */

/* Загальні налаштування */
* {
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
  height: 100vh;
  font-style: normal;
}

body {
  font-family: $font-main;
  background: $bg;
  color: $text;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-title;
}

.wrapper {
  overflow-x: hidden;
  height: 100vh;
}
