.container {
  width: 1452px;
  margin: auto;
  padding: 0 16px;
  @media (max-width: 1700px) {
    width: 1112px;
  }
  @media (max-width: 1400px) {
    width: 932px;
  }
  @media (max-width: 991px) {
    width: 100%;
  }
}
