/* Міксін для стилів флексбокса */
@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

/* Міксін для :hover */
@mixin transition {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

@mixin button {
  @include flex(row, center, center);
  color: $bg;
  text-align: center;
  font-weight: 600;
  width: 416px;
  height: 60px;
  border-radius: 24px;
  background: $accent;
  border: 2px solid $accent;
  @include transition;
  @media (max-width: 991px) {
    font-size: 20px;
    width: 263px;
    height: 44px;
  }
  &:hover {
    background-color: transparent;
    color: $accent;
  }
}
