.none {
  display: none !important;
}
.d-block {
  display: block !important;
}
.no-scroll {
  overflow-y: hidden;
}
.open {
  right: 0 !important;
}
.active {
  border: 4px solid $accent;
  p {
    color: $text;
  }
}
