.hero-wrapper {
  margin-bottom: 199px;
  @media (max-width: 991px) {
    margin-bottom: 80px;
  }
}
.hero {
  @include flex(row, space-between, center);
  gap: 20px;
  width: 100%;
  margin-bottom: 20px;
  @media (max-width: 1200px) {
    flex-wrap: wrap-reverse;
  }
  @media (max-width: 991px) {
    gap: 16px;
    margin-bottom: 0;
  }
  &__right {
    width: 50%;
    border-radius: 50px;
    background: $bg;
    box-shadow: $shadow;
    padding: 64px 69px 64px 72px;
    @media (max-width: 1200px) {
      width: 100%;
    }
    @media (max-width: 991px) {
      padding: 0;
    }
  }
  &__left {
    width: 50%;
    @media (max-width: 1200px) {
      width: 100%;
      text-align: center;
    }
  }
  &__title {
    text-align: center;
    color: $accent;
    font-family: $font-main;
    font-size: 64px;
    font-weight: 500;
    margin-bottom: 16px;
    @media (max-width: 1450px) {
      font-size: 50px;
    }
    @media (max-width: 991px) {
      margin: 32px 32px 16px 32px;
      font-size: 30px;
      font-weight: 700;
      margin-bottom: 16px;
    }
  }
  &__text {
    text-align: center;
    margin-bottom: 64px;
    @media (max-width: 991px) {
      margin: 0 32px 32px 32px;
      margin-bottom: 32px;
    }
  }

  &__request {
    @include flex(column, center, center);
    gap: 27px;
    padding: 32px 64px;
    border-radius: 50px;
    border: 2px solid $accent;
    @media (max-width: 991px) {
      padding: 32px;
      gap: 32px;
      border: none;
      box-shadow: $shadow;
    }
    &-top {
      @include flex(row, center, center);
      gap: 16px;
      @media (max-width: 991px) {
        gap: 8px;
      }
      img {
        @media (max-width: 991px) {
          width: 32px;
          height: 32px;
        }
      }
      p {
        text-align: center;
        font-weight: 600;
        padding-right: 38px;
        @media (max-width: 991px) {
          padding: 0;
          text-align: left;
        }
      }
    }
    &-btn {
      @include button;
    }
  }

  &__list {
    @include flex(row, space-between, center);
    gap: 20px;
    @media (max-width: 1455px) {
      @include flex(column, center, center);
    }
    @media (max-width: 991px) {
      display: none;
    }
  }
  &__item {
    @include flex(row, center, center);
    gap: 32px;
    width: 460px;
    padding: 46px 40px;
    border-radius: 50px;
    background: $bg;
    box-shadow: $shadow;
    @media (max-width: 1455px) {
      width: 100%;
    }
    p {
      font-size: 24px;
      color: $black;
    }
  }
}
