.order-wrapper {
  margin-bottom: 70px;
}

.order {
  &__title {
    position: relative;
    margin-bottom: 80px;
    @media (max-width: 991px) {
      margin-bottom: 40px;
    }
    img {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      border-radius: 20px;
      @media (max-width: 991px) {
        width: 32px;
        height: 32px;
      }
    }
    h2 {
      @include title;
    }
  }
  &__content {
    position: relative;
    @include flex(row, space-between, flex-start);
    gap: 140px;
    @media (max-width: 1500px) {
      gap: 50px;
    }
    @media (max-width: 1175px) {
      gap: 20px;
    }
  }
  &__price {
    width: 725px;
    @include flex(column, flex-start, flex-start);
    gap: 5px;
    @media (max-width: 1350px) {
      width: 505px;
    }
    @media (max-width: 1175px) {
      width: 350px;
    }
    @media (max-width: 991px) {
      width: 100%;
    }
    h4 {
      display: none;
      @media (max-width: 1175px) {
        display: block;
        color: $black;
        font-family: $font-main;
        font-size: 18px;
        font-weight: 600;
        margin-top: 20px;
        margin-bottom: 16px;
      }
    }
    &-row {
      width: 725px;
      padding: 10px 15px 15px 10px !important;
      @media (max-width: 1350px) {
        width: 505px;
      }
      @media (max-width: 1175px) {
        width: 350px;
      }
      @media (max-width: 991px) {
        width: 100%;
      }
    }
  }
  &__form {
    position: sticky;
    top: 0;
    right: 0;
    @include flex(column, center, center);
    width: 580px;
    min-height: 824px;
    padding: 64px 80px;
    border-radius: 56px;
    background: $bg;
    box-shadow: $shadow;
    @media (max-width: 991px) {
      display: none;
    }
    &-img {
      margin-bottom: 32px;
    }
    &-title {
      width: 268px;
      text-align: center;
      font-family: $font-main;
      font-size: 40px;
      letter-spacing: 0.8px;
      margin-bottom: 48px;
    }
    &-service {
      text-align: center;
      font-size: 24px;
      font-weight: 600;
      margin-bottom: 24px;
      span {
        color: $accent;
      }
    }
    &-input {
      width: 420px;
      height: 64px;
      padding: 16px 40px;
      border-radius: 24px;
      background: #f6f6f6;
      color: $text;
      font-family: $font-main;
      font-size: 24px;
      font-weight: 600;
      margin-bottom: 24px;
      &::placeholder {
        color: #9a9a9a;
        font-family: $font-main;
        font-size: 24px;
        font-weight: 600;
      }
    }
    &-submit {
      margin: auto;
      @include button;
      margin-bottom: 72px;
    }
    &-btn {
      margin: auto;
      @include button;
      background-color: transparent;
      color: $accent;
    }
    &-num {
      display: none;
      text-align: center;
      font-size: 24px;
      font-weight: 600;
      margin-bottom: 24px;
      color: $accent;
    }
  }
}

.item {
  @include flex(column, center, center);
  width: 220px;
  height: 220px;
  padding: 20px 15px;
  border-radius: 40px;
  background: $bg;
  box-shadow: $shadow;
  cursor: pointer;
  @media (max-width: 725px) {
    width: calc(100% / 2);
  }
  @media (max-width: 480px) {
    width: calc(100% / 1.5);
  }
  &__top {
    @include flex(row, space-between, center);
    gap: 6px;
    margin-bottom: 8px;
    &-status {
      @include flex(row, space-between, center);
      gap: 2px;
      padding: 5px 8px;
      border-radius: 32px;
      background: $accent;
      span {
        color: $bg;
        text-align: center;
        font-size: 16px;
      }
    }
    &-time {
      margin-left: auto;
      color: $accent;
      text-align: right;
      font-size: 20px;
      font-weight: 700;
    }
  }
  &__img {
    width: 132px;
    height: 87px;
    border-radius: 12px;
    background: #d1d1d1;
    margin: auto;
    margin-bottom: 8px;
  }
  &__name {
    font-family: $font-main;
    margin-right: auto;
    text-align: left;
    font-size: 20px;
    font-weight: 400;
  }
  &__price {
    @include flex(row, space-between, center);
    &-new {
      font-size: 20px;
      font-weight: 700;
    }
    &-old {
      color: #9a9a9a;
      font-size: 18px;
      text-decoration: line-through;
    }
  }
}
.modal-overlay-second {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: rgba($color: $text, $alpha: 0.5);
  z-index: 10;
}

.modal__close-second {
  position: absolute;
  top: 40px;
  right: 40px;
  @include flex(row, center, center);
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: 2px solid $text;
  @media (max-width: 991px) {
    top: 20px;
    right: 20px;
    width: 32px;
    height: 32px;
  }
}

.modal-overlay-second .modal {
  min-height: 554px;
}
